@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark,.dark *));
*{
    font-family: "Baloo Bhai 2", sans-serif;

}
@theme{
  --color-primary:#E6CCFF;
}
::-webkit-scrollbar{
  display: none;
}

.reset-tw :not(pre):not(code){
  all:revert;
}
.loader div {
  animation: pulse 1.2s infinite ease-in-out;
}

.loader div:nth-child(2) {
  animation-delay: 0.15s;
}
.loader div:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0.4);
    opacity: 0.3;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
}
